@mixin clearfix() {
  &::after {
    content: '';
    overflow: hidden;
    display: table;
    clear: both;
  }
}


@mixin latofont() {
  font-family: 'Lato',sans-serif;
  font-weight: normal;
}

@mixin opensans() {
  font-family: 'OpenSans',sans-serif;
  font-weight: normal;
}

@mixin maxwidth() {
  max-width: 960px;
  margin: 0 auto;
}

@mixin bgsettings() {
  background-size: 100%; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

@mixin portpos() {
  transition: .5s ease;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  text-align: center;
}


@mixin teampos() {
  transition: .5s ease;
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 309px;
  width: 259px;
  opacity: 0;
  text-align: center;
}

