@import "variables";
@import "mixins";
@import "fonts";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.clearfix {
  @include clearfix;
}

.free2 {
  background-image: url('../images/t3/freetheme2.png');
  @include bgsettings;
}

@import "header";
@import "about";
@import "services";
@import "free";
@import "portfolio";
@import "team";
@import "contact";
@import "footer";